<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        window.OneSignal = window.OneSignal || [];
        OneSignal.push(function() {
            OneSignal.init({
                appId: "5da93d09-04e2-495b-80c3-7cfdae42bb07",
                notifyButton: {
                    enable: true,
                },
                subdomainName: "sunshine123",
            });
        });
    </script>
</head>
<body>
Testing
</body>
</html>